* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 500px;
    margin: 20px auto;
    display: flex;
    text-align: center;
}

#botao {
    text-transform: uppercase;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    
}